/* ==================== RESET ==================== */

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: auto;
  scroll-behavior: initial;
}

html,
body {
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

li {
  list-style: none;
}

svg {
  max-width: none;
  height: auto;
  box-sizing: border-box;
  vertical-align: middle;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  box-sizing: border-box;
}

/* ==================== GLOBAL STYLES ==================== */

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
label {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  text-wrap: inherit;
  padding: 0;
  margin: 0;
}

/* ==================== SELECTION ==================== */

::selection,
::-moz-selection {
  background-color: rgba(129, 129, 128, 0.7);
  text-shadow: none;
}

/* ==================== SCROLLBAR ==================== */

body {
  --sb-track-color: var(--color-neutral-600);
  --sb-thumb-color: var(--color-neutral-500);
  --sb-size: 8px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 8px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 8px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

/* ==================== GLOBAL ==================== */

.model {
  position: sticky;
  z-index: 3;
  top: 0;
  left: 0;
}

.global-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--nav-height);
  z-index: 1000;
}

.grid-left {
  justify-self: start;
}

.grid-center {
  justify-self: center;
}

.grid-right {
  justify-self: end;
}

.label {
  display: flex;
  align-items: center;
  gap: var(--primitives--8);
}

.blink-circle {
  width: var(--primitives--12);
  height: var(--primitives--12);
  border-radius: 50%;
  background-color: var(--color-neutral-500);
  animation: blink 1.5s infinite;
}

.blink-circle.green {
  background-color: var(--color-success-green);
}

/* ==================== MENU ==================== */

#menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-neutral-800);
  z-index: 2000;
  display: flex;
  flex-direction: column;
  display: none;
}

.menu-header,
.menu-footer {
  position: relative;
  padding: var(--spacing--3xs) var(--spacing--page-padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 479px) {
  .menu-footer {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing--2xs);
  }
}

.menu-content {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.menu-content-left {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 var(--spacing--md);
}

@media screen and (max-width: 767px) {
  .menu-content-left {
    display: none;
  }
}

.menu-img-frame {
  width: 22.5em;
  aspect-ratio: 3/4;
}

.menu-img-frame img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu-content-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--spacing--xs);
  padding: 0 var(--spacing--md);
}

@media screen and (max-width: 767px) {
  .menu-content-right {
    padding: 0 var(--spacing--page-padding);
  }
}

.menu-links {
  display: flex;
  flex-direction: column;
  gap: var(--spacing--3xs);
}

.menu-content-right a {
  width: fit-content;
}

.contact-infos {
  display: flex;
  flex-direction: column;
  gap: var(--spacing--2xs);
}

.contact-info {
  display: flex;
  flex-direction: column;
}

.social-links {
  display: flex;
  gap: var(--spacing--3xs);
}

@media screen and (max-width: 479px) {
  .social-links {
    align-items: flex-start;
    gap: var(--spacing--xs);
  }
}

/* ==================== HERO SECTION ==================== */

#hero {
  position: relative;
  width: 100%;
  height: 100svh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.hero-container {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.hero-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.hero-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.hero-img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(50% 50% at 50% 50%, rgba(19, 19, 19, 0.10) 0%, rgba(19, 19, 19, 0.10) 60%, rgba(19, 19, 19, 0.80) 100%);
  pointer-events: none;
}

.hero-nav,
.hero-footer {
  position: relative;
  padding: var(--spacing--3xs) var(--spacing--page-padding);
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

.hero-nav .border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--color-neutral-500);
  will-change: transform;
}

.hero-content {
  padding: var(--spacing--3xs) var(--spacing--page-padding) 0;
  flex: 1;
  display: flex;
}

.hero-content h1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero-content h1 div {
  display: flex;
  flex-direction: column;
}

/* ==================== ABOUT SECTION ==================== */

#about {
  width: 100%;
  padding: var(--spacing--xl) var(--spacing--page-padding) var(--spacing--2xl);
  background-color: var(--color-neutral-900);
  position: relative;
  z-index: 2;
}

.about-introduction {
  width: 100%;
  height: 100svh;
}

.about-grid {
  padding-top: var(--spacing--3xl);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--spacing--grid-gap);
}

.about-img {
  grid-area: 1 / 5 / 1 / 9;
  aspect-ratio: 3 / 4;
}

.about-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bio-text {
  grid-area: 1 / 9 / 1 / 12;
}

@media screen and (max-width: 991px) {
  .about-grid {
    grid-template-columns: repeat(8, 1fr);
  }

  .about-img {
    grid-area: 1 / 2 / 1 / 5;
  }

  .bio-text {
    grid-area: 1 / 5 / 1 / 8;
  }
}

@media screen and (max-width: 767px) {
  .about-grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .about-img {
    grid-area: 1 / 1 / 1 / 3;
  }

  .bio-text {
    grid-area: 1 / 3 / 1 / 5;
  }
}

@media screen and (max-width: 479px) {
  .about-img {
    grid-area: 1 / 1 / 1 / 5;
  }

  .bio-text {
    grid-area: 2 / 1 / 2 / 5;
  }
}

/* ==================== STORYTELLING SECTION ==================== */

#storytelling {
  width: 100%;
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-neutral-900);
  position: relative;
  z-index: 2;
}

.storytelling-title {
  width: 100%;
  display: block;
}

.storytelling-title span {
  display: block;
  overflow: hidden;
}

.storytelling-title .wrap {
  display: flex;
  justify-content: space-between;
}

#storytelling .wrap span {
  display: inline-block;
}

#storytelling .circle-transition {
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 50%);
  background-color: var(--color-neutral-700);
  border-radius: 50%;
  z-index: 5;
}

/* ==================== WORKS SECTION ==================== */

#works {
  width: 100%;
  background-color: var(--color-neutral-100);
  position: relative;
  z-index: 2;
  overflow-x: hidden;
}

.horizontal-scroll {
  display: flex;
}

.horizontal-scroll .horizontal-item {
  position: relative;
  height: 100svh;
  width: 100vw;
  display: grid;
  flex-shrink: 0;
  place-items: center;
}

.sticky-labels {
  width: 100%;
  height: 100%;
  position: absolute;
}

.works-label {
  position: absolute;
  top: 50%;
  left: var(--spacing--page-padding);
  transform: translateY(-50%);
  z-index: 2;
}

.works-number {
  position: absolute;
  top: 50%;
  right: var(--spacing--page-padding);
  transform: translateY(-50%);
  z-index: 2;
}

.works-title-container {
  height: var(--typography--font-size--h1);
  position: absolute;
  bottom: var(--spacing--3xs);
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  overflow: hidden;
}

.works-title-list {
  position: relative;
  display: flex;
  flex-direction: column;
  height: var(--typography--font-size--h1);
  transform: translateY(0%);
}

.works-title {
  text-wrap: nowrap;
}

.works-item {
  width: 33.3333%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing--3xs);
  margin: auto;
}

.works-item .work-date {
  width: 100%;
  text-align: right;
}

.works-item .work-img {
  width: 100%;
  aspect-ratio: 4 / 3;
}

.works-item .work-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ==================== SERVICES SECTION ==================== */

#services {
  width: 100%;
  background-color: var(--color-neutral-900);
  position: relative;
  z-index: 2;
}

.services-bg {
  width: 100%;
  height: 100svh;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
}

.services-bg-img {
  width: 100%;
  height: 100svh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  filter: brightness(60%);
}

.services-bg-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.services-list {
  position: relative;
  padding-top: var(--spacing--lg);
}

.services-item {
  height: 100svh;
  position: sticky;
  background-color: var(--color-neutral-800);
  top: 0;
}

.services-item-overlay {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.95);
  opacity: 0;
  pointer-events: none;
}

.services-item-header {
  padding: var(--spacing--2xs) var(--spacing--page-padding);
  border-bottom: 1px solid var(--color-neutral-500);
}

.services-item-content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: var(--spacing--xs);
  padding: var(--spacing--xs) var(--spacing--page-padding);
}

.services-desc {
  grid-area: 1 / 5 / 1 / 9;
}

.services-number {
  grid-area: 2 / 1 / 2 / 5;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.services-keypoints {
  grid-area: 2 / 5 / 2 / 13;
}

.services-item-content ul li {
  padding: var(--primitives--12) 0;
  border-bottom: 1px solid var(--color-neutral-500);
}

@media screen and (max-width: 991px) {

  .services-item-content {
    grid-template-columns: repeat(8, 1fr);
  }

  .services-desc {
    grid-area: 1 / 4 / 1 / 9;
  }

  .services-number {
    grid-area: 2 / 1 / 2 / 4;
  }

  .services-keypoints {
    grid-area: 2 / 4 / 2 / 9;
  }
}

@media screen and (max-width: 767px) {

  .services-item-content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing--2xs);
  }

  .services-number {
    margin-top: var(--spacing--sm);
  }
}

/* ==================== ACTION SECTION ==================== */

#action {
  width: 100%;
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-neutral-900);
  position: relative;
  z-index: 2;
}

#action .heading-display-swap {
  font-size: inherit;
  text-transform: none;
}

/* ==================== CONTACT SECTION ==================== */

#contact {
  width: 100%;
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-neutral-100);
  position: relative;
  z-index: 2;
  overflow-x: hidden;
}

.contact-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  aspect-ratio: 16 / 10;
}

/* ==================== FOOTER ==================== */

#footer {
  width: 100%;
  background-color: var(--color-neutral-900);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  z-index: 2;
}

.footer-content {
  height: 100%;
  display: flex;
  border-bottom: 1px solid var(--color-neutral-500);
}

.footer-bottom {
  padding: var(--primitives-16) var(--spacing--page-padding) 0;
}

.footer-content-left,
.footer-content-right {
  flex: 1;
  display: flex;
  padding: var(--spacing--xs) var(--spacing--page-padding) var(--spacing--xl);
}

.footer-content-left ul {
  display: flex;
  flex-direction: column;
  gap: var(--spacing--3xs);
}

.footer-content-right {
  display: flex;
  flex-direction: column;
  gap: var(--spacing--md);
  border-left: 1px solid var(--color-neutral-500);
}

.footer-content-right ul.social-links {
  display: flex;
  gap: var(--spacing--2xs);
}

.footer-content-right ul.contact-infos {
  display: flex;
  flex-direction: column;
  gap: var(--spacing--2xs);
}

.footer-bottom {
  padding: 0 var(--spacing--page-padding);
}

.footer-bottom .credits {
  display: flex;
  justify-content: space-between;
  padding-top: var(--spacing--3xs);
}

.footer-bottom svg {
  width: 100%;
  margin-top: var(--spacing--3xs);
  margin-bottom: calc(var(--spacing--2xs) * (-1));
}

@media screen and (max-width: 479px) {
  .footer-content {
    flex-direction: column;
  }

  .footer-content-left,
  .footer-content-right {
    padding: var(--spacing--xs) var(--spacing--page-padding);
  }

  .footer-content-left {
    padding-bottom: var(--spacing--md);
  }

  .footer-content-right {
    border-left: none;
    border-top: 1px solid var(--color-neutral-500);
    gap: var(--spacing--sm);
    padding-bottom: var(--spacing--md);
  }
}