/* ==================== FONTS ==================== */

@font-face {
  font-family: "SangBleu Versailles";
  src: url("../fonts/SangBleuVersailles-RegularItalic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Bevietnampro";
  src: url("../fonts/BeVietnamPro-Variable.ttf") format("woff2 supports variations"),
    url("../fonts/BeVietnamPro-Variable.ttf") format("woff2-variations");
  font-weight: 100 1000;
}

/* ==================== VARIABLES ==================== */

:root {
  /* COLORS */
  --color-neutral-100: #ffffff;
  --color-neutral-200: #efeeec;
  --color-neutral-300: #e3e1de;
  --color-neutral-400: #d0cfcd;
  --color-neutral-500: #818180;
  --color-neutral-600: #2c2c2c;
  --color-neutral-700: #1f1f1f;
  --color-neutral-800: #131313;
  --color-neutral-900: #000000;
  --color-text-light: var(--color-neutral-100);
  --color-text-light-secondary: var(--color-neutral-400);
  --color-text-dark: var(--color-neutral-900);
  --color-text-dark-secondary: var(--color-neutral-500);
  --color-border: var(--color-neutral-500);
  --color-brand-orange: #ff9800;
  --color-success-green: #4caf50;

  /* PRIMITIVES (spacing units) */
  --primitives--0: 0em;
  --primitives--2: 0.125em;
  --primitives--4: 0.25em;
  --primitives--8: 0.5em;
  --primitives--12: 0.75em;
  --primitives--16: 1em;
  --primitives--24: 1.5em;
  --primitives--32: 2em;
  --primitives--40: 2.5em;
  --primitives--48: 3em;
  --primitives--56: 3.5em;
  --primitives--64: 4em;
  --primitives--72: 4.5em;
  --primitives--80: 5em;
  --primitives--96: 6em;
  --primitives--120: 7.5em;
  --primitives--144: 9em;
  --primitives--160: 10em;
  --primitives--200: 12.5em;
  --primitives--240: 15em;

  /* SPACING */
  --spacing--page-padding: var(--primitives--40);
  --spacing--grid-gap: var(--primitives--40);
  --spacing--3xl: var(--primitives--240);
  --spacing--2xl: var(--primitives--200);
  --spacing--xl: var(--primitives--160);
  --spacing--lg: var(--primitives--120);
  --spacing--md: var(--primitives--80);
  --spacing--sm: var(--primitives--64);
  --spacing--xs: var(--primitives--40);
  --spacing--2xs: var(--primitives--24);
  --spacing--3xs: var(--primitives--16);

  /* TYPOGRAPHY */
  --typography--font-family--heading-family: Bevietnampro, Arial, sans-serif;
  --typography--font-family--heading-family-swap: "SangBleu Versailles", Serif, sans-serif;
  --typography--font-family--paragraph-family: Bevietnampro, Arial, sans-serif;
  --typography--font-size--display: 7.5em;
  --typography--font-size--h1: 6em;
  --typography--font-size--h2: 4.5em;
  --typography--font-size--h3: 3.5em;
  --typography--font-size--h4: 2.5em;
  --typography--font-size--h5: 2em;
  --typography--font-size--h6: 1.5em;
  /* --typography--font-size--text-large: max(18px, 1em);
  --typography--font-size--text-medium: max(16px, 0.875em);
  --typography--font-size--text-small: max(14px, 0.75em); */
  --typography--font-size--text-large: 1.125em;
  --typography--font-size--text-medium: 1em;
  --typography--font-size--text-small: 0.875em;

  --typography--font-size--weight-regular: 400;
  --typography--font-size--weight-medium: 500;
  --typography--font-size--weight-semi-bold: 600;
  --typography--font-size--weight-bold: 700;
  --typography--line-height--line-height-heading: 100%;
  --typography--line-height--line-height-heading-swap: 120%;
  --typography--line-height--line-height-text: 140%;
  --typography--letter-spacing--negative-lg: -0.04em;
  --typography--letter-spacing--negative-sm: -0.02em;
  --typography--letter-spacing--normal: 0;
  --typography--letter-spacing--positive-sm: 0.02em;
  --typography--letter-spacing--positive-lg: 0.04em;
}

@media screen and (max-width: 991px) {
  :root {
    --typography--font-size--display: 6.5em;
    --typography--font-size--h1: 5em;
    --typography--font-size--h2: 4em;
    --typography--font-size--h3: 3em;
    --typography--font-size--h4: 1.75em;
    --typography--font-size--h5: 1.375em;
    --typography--font-size--h6: 1.125em;
    /* --typography--font-size--text-large: max(18px, 1em);
    --typography--font-size--text-medium: max(16px, 0.875em);
    --typography--font-size--text-small: max(14px, 0.75em); */
  }
}

@media screen and (max-width: 767px) {
  :root {
    --typography--font-size--display: 5em;
    --typography--font-size--h1: 4em;
    --typography--font-size--h2: 3em;
    --typography--font-size--h3: 2.5em;
    --typography--font-size--h4: 1.5em;
    --typography--font-size--h5: 1.25em;
    --typography--font-size--h6: 1em;
    /* --typography--font-size--text-large: max(18px, 1em);
    --typography--font-size--text-medium: max(16px, 0.875em);
    --typography--font-size--text-small: max(14px, 0.75em); */
  }
}

@media screen and (max-width: 479px) {
  /* TODO - adjust typography for mobile portrait */
}

/* ==================== Scaling System by Osmo [https://osmo.supply/] ==================== */

/* Desktop */
:root {
  --size-unit: 16;
  /* body font-size in design - no px */
  --size-container-ideal: 1680;
  /* screen-size in design - no px */
  --size-container-min: 992px;
  --size-container-max: 1920px;
  --size-container: clamp(var(--size-container-min), 100vw, var(--size-container-max));
  --size-font: calc(var(--size-container) / (var(--size-container-ideal) / var(--size-unit)));
}

/* Tablet */
@media screen and (max-width: 991px) {
  :root {
    --size-container-ideal: 1080;
    /* screen-size in design - no px */
    --size-container-min: 768px;
    --size-container-max: 991px;
  }
}

/* Mobile Landscape */
@media screen and (max-width: 767px) {
  :root {
    --size-container-ideal: 767;
    /* screen-size in design - no px */
    --size-container-min: 480px;
    --size-container-max: 767px;
  }
}

/* Mobile Portrait */
@media screen and (max-width: 479px) {
  :root {
    --size-container-ideal: 420;
    /* screen-size in design - no px */
    --size-container-min: 320px;
    --size-container-max: 479px;
  }
}

/* Apply to body */
body {
  font-size: var(--size-font) !important;
}

/* ==================== TYPOGRAPHY ==================== */

.heading-display {
  font-family: var(--typography--font-family--heading-family);
  color: var(--color-neutral-100);
  font-size: var(--typography--font-size--display);
  line-height: var(--typography--line-height--line-height-heading);
  font-weight: var(--typography--font-size--weight-semi-bold);
  letter-spacing: var(--typography--letter-spacing--negative-lg);
  text-transform: uppercase;
  /* overflow: hidden; */
}

.heading-display-swap {
  font-family: var(--typography--font-family--heading-family-swap);
  color: var(--color-neutral-100);
  font-size: var(--typography--font-size--display);
  line-height: var(--typography--line-height--line-height-heading-swap);
  font-weight: var(--typography--font-size--weight-regular);
  letter-spacing: var(--typography--letter-spacing--negative-lg);
  /* overflow: hidden; */
}

.heading-h1 {
  font-family: var(--typography--font-family--heading-family);
  color: var(--color-neutral-100);
  font-size: var(--typography--font-size--h1);
  line-height: var(--typography--line-height--line-height-heading);
  font-weight: var(--typography--font-size--weight-semi-bold);
  letter-spacing: var(--typography--letter-spacing--negative-lg);
  text-transform: uppercase;
  /* overflow: hidden; */
}

.heading-h1-swap {
  font-family: var(--typography--font-family--heading-family-swap);
  color: var(--color-neutral-100);
  font-size: var(--typography--font-size--h1);
  line-height: var(--typography--line-height--line-height-heading-swap);
  font-weight: var(--typography--font-size--weight-regular);
  letter-spacing: var(--typography--letter-spacing--negative-lg);
  /* overflow: hidden; */
}

.heading-h2 {
  font-family: var(--typography--font-family--heading-family);
  color: var(--color-neutral-100);
  font-size: var(--typography--font-size--h2);
  line-height: var(--typography--line-height--line-height-heading);
  font-weight: var(--typography--font-size--weight-semi-bold);
  letter-spacing: var(--typography--letter-spacing--negative-lg);
  text-transform: uppercase;
  /* overflow: hidden; */
}

.heading-h2-swap {
  font-family: var(--typography--font-family--heading-family-swap);
  color: var(--color-neutral-100);
  font-size: var(--typography--font-size--h2);
  line-height: var(--typography--line-height--line-height-heading-swap);
  font-weight: var(--typography--font-size--weight-regular);
  letter-spacing: var(--typography--letter-spacing--negative-lg);
  /* overflow: hidden; */
}

.heading-h3 {
  font-family: var(--typography--font-family--heading-family);
  color: var(--color-neutral-100);
  font-size: var(--typography--font-size--h3);
  line-height: var(--typography--line-height--line-height-heading);
  font-weight: var(--typography--font-size--weight-semi-bold);
  letter-spacing: var(--typography--letter-spacing--negative-lg);
  text-transform: uppercase;
  /* overflow: hidden; */
}

.heading-h3-swap {
  font-family: var(--typography--font-family--heading-family-swap);
  color: var(--color-neutral-100);
  font-size: var(--typography--font-size--h3);
  line-height: var(--typography--line-height--line-height-heading-swap);
  font-weight: var(--typography--font-size--weight-regular);
  letter-spacing: var(--typography--letter-spacing--negative-lg);
  /* overflow: hidden; */
}

.heading-h4 {
  font-family: var(--typography--font-family--heading-family);
  color: var(--color-neutral-100);
  font-size: var(--typography--font-size--h4);
  line-height: var(--typography--line-height--line-height-heading);
  font-weight: var(--typography--font-size--weight-semi-bold);
  letter-spacing: var(--typography--letter-spacing--negative-lg);
  text-transform: uppercase;
  /* overflow: hidden; */
}

.heading-h4-swap {
  font-family: var(--typography--font-family--heading-family-swap);
  color: var(--color-neutral-100);
  font-size: var(--typography--font-size--h4);
  line-height: var(--typography--line-height--line-height-heading-swap);
  font-weight: var(--typography--font-size--weight-regular);
  letter-spacing: var(--typography--letter-spacing--negative-lg);
  /* overflow: hidden; */
}

.heading-h5 {
  font-family: var(--typography--font-family--heading-family);
  color: var(--color-neutral-100);
  font-size: var(--typography--font-size--h5);
  line-height: var(--typography--line-height--line-height-heading);
  font-weight: var(--typography--font-size--weight-semi-bold);
  letter-spacing: var(--typography--letter-spacing--negative-lg);
  text-transform: uppercase;
  /* overflow: hidden; */
}

.heading-h5-swap {
  font-family: var(--typography--font-family--heading-family-swap);
  color: var(--color-neutral-100);
  font-size: var(--typography--font-size--h5);
  line-height: var(--typography--line-height--line-height-heading-swap);
  font-weight: var(--typography--font-size--weight-regular);
  letter-spacing: var(--typography--letter-spacing--negative-lg);
  /* overflow: hidden; */
}

.heading-h6 {
  font-family: var(--typography--font-family--heading-family);
  color: var(--color-neutral-100);
  font-size: var(--typography--font-size--h6);
  line-height: var(--typography--line-height--line-height-heading);
  font-weight: var(--typography--font-size--weight-semi-bold);
  letter-spacing: var(--typography--letter-spacing--negative-lg);
  text-transform: uppercase;
  /* overflow: hidden; */
}

.heading-h6-swap {
  font-family: var(--typography--font-family--heading-family-swap);
  color: var(--color-neutral-100);
  font-size: var(--typography--font-size--h6);
  line-height: var(--typography--line-height--line-height-heading-swap);
  font-weight: var(--typography--font-size--weight-regular);
  letter-spacing: var(--typography--letter-spacing--negative-lg);
  /* overflow: hidden; */
}

.p-large {
  font-family: var(--typography--font-family--paragraph-family);
  color: var(--color-neutral-100);
  font-size: var(--typography--font-size--text-large);
  line-height: var(--typography--line-height--line-height-text);
  font-weight: var(--typography--font-size--weight-regular);
  letter-spacing: var(--typography--letter-spacing--negative-sm);
}

.p-medium {
  font-family: var(--typography--font-family--paragraph-family);
  color: var(--color-neutral-100);
  font-size: var(--typography--font-size--text-medium);
  line-height: var(--typography--line-height--line-height-text);
  font-weight: var(--typography--font-size--weight-regular);
  letter-spacing: var(--typography--letter-spacing--negative-sm);
}

.p-small {
  font-family: var(--typography--font-family--paragraph-family);
  color: var(--color-neutral-100);
  font-size: var(--typography--font-size--text-small);
  line-height: var(--typography--line-height--line-height-text);
  font-weight: var(--typography--font-size--weight-regular);
  letter-spacing: var(--typography--letter-spacing--negative-sm);
}

.text-medium {
  font-weight: var(--typography--font-size--weight-medium);
}

.text-semibold {
  font-weight: var(--typography--font-size--weight-semi-bold);
}

.text-bold {
  font-weight: var(--typography--font-size--weight-bold);
}

.text-uppercase {
  text-transform: uppercase;
}

.text-justify {
  text-align: justify;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-light {
  color: var(--color-text-light);
}

.text-light-secondary {
  color: var(--color-text-light-secondary);
}

.text-dark {
  color: var(--color-text-dark);
}

.text-dark-secondary {
  color: var(--color-text-dark-secondary);
}

/* ==================== KEYFRAMES ==================== */

@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* ==================== DEFAULT ==================== */

body {
  font-family: var(--typography--font-family--paragraph-family);
  color: var(--color-text-light);
  background-color: var(--color-neutral-900);
  font-size: var(--size-font);
  line-height: var(--typography--line-height--line-height-text);
  letter-spacing: var(--typography--letter-spacing--normal);
  margin: 0;
  padding: 0;
}

.line-js {
  overflow: hidden;
}

/* ==================== LENIS SMOOTH SCROLL ==================== */

html.lenis,
html.lenis body {
  height: auto;
  overflow-x: hidden;
}

.lenis:not(.lenis-autoToggle).lenis-stopped {
  overflow: clip;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.lenis.lenis-autoToggle {
  transition-property: overflow;
  transition-duration: 1ms;
  transition-behavior: allow-discrete;
}